$desktop:840px;
$xsmall:600px;
$small:960px;
$medium:1264px;
$large:1904px;
// $xlarge:220px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin device_xsmall {
  @media (max-width: #{$xsmall}) {
    @content;
  }
}
@mixin device_small {
  @media (max-width: #{$small}) {
    @content;
  }
}
@mixin device_medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}
@mixin device_large {
  @media (max-width: #{$large}) {
    @content;
  }
}
// @mixin device_xlarge {
//   @media (max-width: #{$xlarge}) {
//     @content;
//   }
// }
