$desktop:840px;
$xsmall:480px;
$small:576px;
$medium:768px;
$large:992px;
$xlarge:1200px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin device_xsmall {
  @media (max-width: #{$xsmall}) {
    @content;
  }
}
@mixin device_small {
  @media (max-width: #{$small}) {
    @content;
  }
}
@mixin device_medium {
  @media (max-width: #{$medium}) {
    @content;
  }
}
@mixin device_large {
  @media (max-width: #{$large}) {
    @content;
  }
}
@mixin device_xlarge {
  @media (max-width: #{$xlarge}) {
    @content;
  }
}
